@media(max-width:1024px){
    .container{
    max-width: 92%;
    }
    .hero_conteiner{
        padding: 72px 84px;
        margin-left: 51px;
    
}
    .about__img_shadow_text{
        max-width: 100%;
        margin-top: -43px;
        margin-right: 180px;
        margin-top: -66px;
        line-height: 33px;
    }
    .footer__text{
        display: none;
    }
    .block__col{
        max-width: 100%;
        margin-top: 50px;

    }
    .about_block{
        flex-wrap: wrap;   
    } 
.menu-burger__header {
        position: relative;
        width: 26px;
        height: 34px;
        display: block;
        margin-left: -8px;
    }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }
    .menu-burger__header span{
        top: 16px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 5px;
    }
    .nav_list{
        display: none;
    }
    .logo{
        width: 150px;
    height: 71px;
    margin-left: 179px;
    }
  
    .seatch {
        margin-right: -74px;
        margin-top: 6px;
    }
    .hero_header{
            font-size: 60px;
            line-height: 75px;
            margin-left: -7px;
            margin-top: 87px;
    }
    .hero_text{
        max-width: 670px;
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0;
        margin-top: -9px;
        margin-bottom: 59px;
        margin-left: -7px;
    }
    .btn{
        margin-bottom: 85px;
        margin-left: -6px;
    }
    .header{
        padding-left: 0;
        margin-left: 10px;
    }
    .about__header {
    margin-bottom: 0px;
    margin-top: -19px;
    margin-left: 10px;
    }
    .about__text{
    width: 100%;
    margin-bottom: 50px;
    margin-left: 10px;
}
    
   .about__img{
    min-height: 640px;
    margin-top: 14px;
    margin-right: -14px;
    margin-bottom: 32px;
   }
   .about__img_shadow{
    padding-bottom: 0;
   }
   .about__img_shadow_button{
    margin-bottom: 66px;
   }
   .about__cards__block{
    border: 1px solid black;
    padding: 53px 152px 64px 61px;
    margin-left: 10px;
   }
.about__cards__img{
    padding-left: 236px;
    margin-left: 15px;
    margin-top: 16px;
    width: 100%;
}
.about__cards__img__shardow{
    padding-left: 238px;
    margin-left: 15px;
    margin-top: -5px;
    padding-top: 24px;
}
.about__cards__text__head{
    margin-left: 3px;
    margin-top: -6px;
}
.about-right__title{
    margin-left: 3px;
    margin-top: -6px;
}
.about__cards__text__para{
    width: 450px;
    font-size: 16px;
    line-height: 33px;
    margin-left: 1px;
    margin-top: 6px;
}
.about-right__text{
    width: 450px;
    font-size: 16px;
    line-height: 33px;
    margin-left: 1px;
    margin-top: 6px;
}
.how_slide_text{
    max-width: 437px;
    margin-bottom: 24px;
    margin-left: 10px;
}
.how_header{
    margin-left: 10px;
    margin-top: -20px;
}
.tabs{
    margin-left: 12px;
}
.how_slide_header{
    margin-left: 12px;
    margin-top: 4px;
}
.how-slide__picture{
    margin-bottom: 74px;
    margin-left: -73px;
    background: url(/img/1024/Rectangle\ 18.jpg)center center no-repeat;
    width: 53%;
}
.how_btns{
    margin-left: 21px;
}
.how_section {
    margin-bottom: -103px;
}
.accordion_link {
    font-size: 20px;
    margin-right: -18px;
}
.accordion-header{
    width: 83%;
}
.footer__nav{
    margin-bottom: 52px;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    margin-left: 1px;
}
.footer__container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
}
.form{
    max-width: 100% 
}
.send_btn {
    padding: 19px 40px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 17px;
}
.field {
    width: 96%;
}
.social {
    margin-bottom: 75px;
    margin-top: 0px;
}
.accordion{
    margin-left: 9px;
    margin-top: -15px;
}
}





    

    


















