@media(max-width:768px){
   .container{
    width: 100%;
   }
        .menu-burger__header {
            position: relative;
            width: 26px;
            height: 34px;
            display: block;
            margin-left: 2px;
            margin-bottom: 34px;
        }
        .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
            height: 3px;
            width: 100%;
            position: absolute;
            background: #515758;
            margin: 0 auto;
        }
        .menu-burger__header span{
            top: 16px;
        }
        .menu-burger__header:after, .menu-burger__header:before{
            content: '';
        }
        .menu-burger__header:after{
            bottom: 5px;
        }
        .menu-burger__header:before{
            top: 5px;
        }
        .logo{
            width: 150px;
            height: 77px;
            margin-left: 116px;
            margin-top: -9px;
        }
        .seatch{
            margin-right: -59px;
            margin-top: -23px;
        }
        .hero_conteiner {
            height: 660px;
            margin-top: -25px;
            width: 668px;
             padding: 45px 37px 108px 34px;
        }
        .hero_header{
            font-weight: 800;
            font-size: 50px;
            line-height: 61px;
            margin-left: 3px;
            margin-top: 115px;
        }
        .hero_text{
            margin-bottom: 55px;
            font-size: 18px;
            margin-top: -13px;
            margin-left: 7px;
        }
        .hero_btn{
            margin-left: 6px;
            margin-bottom: 49px;
        }
        .about__header{
            margin-left: 20px;
        }
        .about__text{
         margin-left: 20px;
         margin-top: -2px;
         width: 99%;
        }
        .about__img{
            padding: 1px;
            margin-left: 24px;
            margin-top: 21px;
            width: 669px;
            margin-right: -18px;
        }
    
        .about__img_shadow_text {
            margin-bottom: 7px;
            margin-right: 57px;
            margin-top: 66px;
            line-height: 32px;
            font-size: 16px;
            margin-left: 38px;

        }
        .about__img_shadow {
            padding: 0 0 25px 0;
        }
        .about__img_shadow_button {
            margin-bottom: -54px;
            padding: 21px 37px 13px 36px;
            margin-right: 37px;
        }
      .about__cards__block{
        margin-left: 27px;
        padding: 42px;
        margin-top: 2px;
        height: 233px;
      }
      .how_header{
        margin-top: -136px;
         margin-left: 20px;
      }
      
      .about__cards__img {
        background-size: 114px;
        margin-left: -4px;
        margin-top: 34px;
      }
      .about__cards__text__head{
        margin-left: -112px;
    margin-top: -44px;
      }
      .about__cards__text__para{
       
    margin-left: -122px;
    font-size: 16px;
    margin-bottom: -75px;
    padding-left: 10px;
    margin-top: 7px;

    }
    .about-right__text{
        margin-left: -108px;
        margin-top: 9px;
    }
    
    .about-right__title{
        margin-left: -115px;
        margin-top: -28px;
    }
    .about__cards__img__shardow{
        background-size: 114px;
        margin-left: 1px;
    }
    .about__cards{
        margin-bottom: 122px;
    }
    .tabs_li{
        margin-left: 8px;
    }
    .tabs_link{
        margin-bottom: -30px;
        margin-right: 148px;
    }
    
    .tabs{
         margin-right: -201px;
        margin-bottom: 371px;
    }
    .how-slide__picture{
        background: url(/img/768/Rectangle\ 18.jpg) no-repeat 50% 50%;
        left: 121%;
        top: 315%;
        width: 711px;
        height: 363px;
        margin-left: -797px;
        margin-top: -364px;
        max-width: 100%;
    }
    .how_slide_header{
        margin-left: 21px;
        margin-top: -1px;
    }
    .how_slide_text{
        max-width: 675px;
        margin-left: 19px;
        margin-top: 12px;
    }
    .how_btns{
        margin-left: 31px;
    }
    .question_title{
        line-height: 59px;
        margin-top: 10px;
        margin-left: 20px;
}
.accordion{
    margin-left: 20px;
    margin-top: -4px;
}
.footer__container{
    display: flex;
flex-direction: column-reverse;
align-items: center;
margin: 0 auto;
}
.form{
    max-width: 100%;
    margin-left: -86px;
    margin-top: 0px;

}
.footer__nav{
    display: none;
}
.footer__menu{
    margin-right: 418px;
    margin-bottom: -49px;
}
.accordion_link {
    font-size: 20px;
    margin-right: -24px;
}
.send{
    margin-left: -7px;
    margin-top: 33px;
}
.footer__logo{
    margin-bottom: 13px;
}
}
      
        













        
        
      
        
















    



