@media(max-width:320px){
    .container{
        width: 100%;
    }
    .menu{
        padding: 0;
    }
    .menu-burger__header {
        position: relative;
        width: 32px;
        height: 35px;
        display: block;
        margin-right: -21px;
        margin-bottom: 26px
    }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }
    .menu-burger__header span{
        top: 16px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 5px;
    }
    .seatch{
        margin-right: -49px;
        margin-top: -19px;
    }
    .logo{
        width: 110px;
        height: 107px;
        margin-left: 40px;
        margin-bottom: -4px;
    }
    .hero_conteiner{
        height: 309px;
        margin-left: 15px;
        max-width: 289px;
    }
    .hero_header {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-top: 15px;
        width: 255px;
        height: 94px;
        margin-left: -15px;
    }
    .hero_text{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin-top: -65px;
        width: 253px;
        height: 28px;
        margin-left: -15px;
    }
    .hero_btn{
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 12px 26px 12px 28px;
        margin-top: 66px;
        margin-left: 31px;
    }
    .about__header {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-left: 3px;
        margin-top: -31px;
    }
    .about__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        margin-top: 21px;
        margin-left: 3px;
        width: 290px;
    }
    .about__img{
        height: 202px;
        width: 287px;
        margin-top: -39px;
        min-height: 100px;
        margin-left: 4px;
    }
    .about__img_shadow_text{
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        margin-bottom: -173px;
        min-width: 289px;
        margin-left: -2px;
    }
    .about__img_shadow{
        background: 0;
        color: black;
    }
    .about__img_shadow_button{
        font-weight: 700;
        font-size: 13px;
    padding-left: 41px;
    line-height: 11px;
    text-align: center;
    margin: 25px 125px -419px -347px;
    color: orange;
    }
    .about__cards__block{
        margin-top: 194px;
        margin-left: -53px;
        border: 0;
    }
    .about__cards__img{
        background-size: 88px 60px;
        margin-top: -229px;
        margin-left: 0px;
    }
    .about__cards__text__head {
        max-width: 358px;
    margin-left: -223px;
    padding-top: 253px;
    font-weight: 500;
    font-size: 21px;
    line-height: 22px;
    width: 261px;
    }
    .about__cards__text__para{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-left: -237px;
    width: 309px;
    }
.about__cards__img__shardow{
    background-size: 62px;
    margin-left: 18px;
    margin-top: -443px;
}
.about-right__title{
    max-width: 358px;
    margin-left: -241px;
    padding-top: 294px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    width: 212px;
}
.about-right__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-left: -243px;
    width: 278px;
    margin-top: 3px;
}
.how_header{
font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-left: 3px;
    margin-top: -279px;
}
.tabs_li{
    margin-right: -111px;
    font-size: 14px;
    margin-top: -16px;
}
.tabs{
    margin-left: -6px;
}
.how-slide__picture{
    background: url(/img/320/Rectangle\ 18.png);
    margin-top: -355px;
    height: 161px;
    margin-right: -57px;
    margin-left: -456px;
    max-width: 102%;
}
.how_slide_header{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-top: -179px;
    margin-left: 4px;
}
.how_slide_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-left: 2px;
    width: 291px;
    margin-top: 8px;
}
.how_btn_1{
    margin-left: -27px;
    margin-top: -10px;
    width: 162px;
    height: 41px;
    font-weight: 700;
    font-size: 12px;
    padding: 10px;
}
.how_btn_2{
    margin-left: -24px;
    margin-top: -10px;
    width: 162px;
    height: 41px;
    font-weight: 600;
    font-size: 12px;
    padding: 0px;
    padding-right: 41px;
}
.question_title{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-left: 3px;
    margin-top: -110px;
}
.accordion_link{
  font-weight: 500;
font-size: 14px;
line-height: 24px;  
}

.accordion{
    margin-left: 3px;
    width: 270px;
    margin-top: -19px;
    margin-bottom: -27px;
}
.footer__container {
display: flex;
flex-direction: column-reverse;
align-items: center;
margin: 0 auto;
}
.form{
    max-width: 100%
}
.form__header{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-left: -26px;
    margin-top: -16px;
}
.field{
    display: flex;
    width: 53%;
    color: #fff;
    background: #414141;
    padding: 14px 16px;
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 32px;
    margin-left: -24px;
    margin-right: 358px;
    margin-top: -2px;
}
.footer__label{
    line-height: 55px;
    margin-left: -7px;
}
.send_btn{
    font-weight: 700;
    font-size: 13px;
    line-height: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 16px 30px 18px 19px;
    margin-top: -8px;
    margin-left: 39px;
    max-width: 34%;
}
.footer__logo{
    margin-top: -64px;
    width: 57%;
    margin-left: 58px;
}






































































}